div {
	text-align: left;
	color: firebrick;
	font: calibri;
}
p {
	text-align: center;
	color: teal;
	font: kristen;
}
h2 {
	text-align: right;
	color: steelblue;
	font: chaparral pro light;
}